:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
}

body {
    font-family: var(--primary-font-family);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ============= COMPONENTS ============= */
.logo {
    font-family: var(--secondary-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #212121;
}
.accent {
    color:#2196F3;
}
.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.menu-item .mailbox .phonenumb {
   font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.mailbox .phonenumb {
    color: #757575;
}
.phonenumb:hover,
.phonenumb:focus
.menu-item:hover,
.menu-item:focus,
.mailbox:hover,
.mailbox:focus,
.current {
    background-color: #ffffff;
    color: #2196F3;
}

.current {
    color:#2196F3;
}
/* ============= HERO ============= */
.hero {
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.benefits-item {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #212121;
}
.benefits-description {
    font-weight: 400;
    line-height: 1.71;
    color: #757575;
}
.section-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}
.member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #212121;
}
.member-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #757575;
}
/* ============= Footer ============= */
.footer {
    background-color:#2F303A;
}
.connection {
    font-style: normal;
}
.map .second-phonenumb .second-mailbox {
    font-weight: 400;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    
}
.map {
    color: #FFFFFF;
}

.second-mailbox:hover,
.second-mailbox:focus,
.second-phonenumb:hover,
.second-phonenumb:focus,{
    color: var(--accent-color);
}

.footer .logo {
    color: #ffffff;
}
/* ============= PORTFOLIO ============= */
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
}
.portfolio-btn {
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    color:#212121;
    padding: 6px 22px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
background-color:var(--accent-color);
color:var(--primary-white-color);
}
.portfolio-btn .current {
background-color:var(--accent-color);
color:var(--primary-white-color);
}
